
/*Top*/
       
#top{
    text-align: center;
    color: #FFFFFF;
}
#top .icon>li{                                    
    display: inline-block;
    list-style: none;
}
#top, #top .column, #top #button{
    background-color: #316DC3;
    padding-top: 5px;
    padding-bottom: 5px;
}
#button>button{
    color: #427900;
    background-color: white;
    border: #427900;
    font-size: 12px;
}
#top .icons img{
    height:20px;
    width: 20px;
    border-radius: 40px;
    background-color: #316DC3;
}
#top .icons li{
    background-color: #316DC3;
    display: inline-block;
}


/*Nav bar*/

.navbar-header{
    background-color: ghostwhite;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar-header .logo img{
    padding-top: 5px;
    padding-left: 20px;
    width: 220px;
    height: 60px;
}
.navbar-header, .navbar-header .container, .navbar-header .container-fluid{
    position: sticky;
    top: 0em;
    z-index: 1000;
} 
.menu{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    font-size: 12px;
}
.menu ul{
    list-style: none;
    display: inline-flex;
}
.menu ul li{
    padding: 15px;
    line-height: 10px;
}
.menu .fa{
    margin-left: 8px;
    background-color:transparent;
}
.fa-angle-right{
    float: right;
}
.sub-menu-1, .sub-menu-2, .sub-menu-3{
    display: none;
}
.menu ul li:hover .sub-menu-1{
    position: absolute;
    display: block;
    margin-top: 15px;
    background-color: #606060;
    border-radius: 2px;
    text-align: left;
    background-color: ghostwhite;
    z-index: 1000;
}
.menu ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 1px;
    text-align: left;
    padding-left: 0%;  
}
.sub-menu-1 ul li:hover .sub-menu-2, .sub-menu-2 ul li:hover .sub-menu-3{
    position: absolute;
    display: block;
    margin-top: -21px;
    margin-left: 190px;
    padding-bottom: 0px;
    background-color: ghostwhite;
    z-index: 1000;
}
.position{
    margin-top: -21px;
    margin-left: -120px;
}
.menu ul li:hover .sub-menu-1 ul:not(.width)>li{
    padding: 10px;
    border-radius: 0px;
    text-align: left;
    width: 200px;
}
.sub-menu-1 ul li:hover .sub-menu-2>.width>li{
    padding: 10px;
    border-radius: 0px;
    text-align: left;
}
 .menu ul li a,
.menu ul li:hover .sub-menu-1 ul li a,
.menu ul li:hover .sub-menu-1 ul li:hover .sub-menu-2 ul li a,
.menu ul li:hover .sub-menu-1 ul li:hover .sub-menu-2 ul li:hover .sub-menu-3 ul li a{
    text-decoration: none;
    color: #606060;
    white-space: nowrap;
}
.menu li.active>a, .menu ul li:hover>a,
.menu ul li:hover .sub-menu-1 ul li:hover>a,
.menu ul li:hover .sub-menu-1 ul li:hover .sub-menu-2 ul li:hover>a,
.menu ul li:hover .sub-menu-1 ul li:hover .sub-menu-2 ul li:hover .sub-menu-3 ul li:hover>a{
    color: #FFFFFF;
    
}
.active, .menu ul li:hover{
    background-color: #316DC3;
    border-radius: 50px;
    text-decoration: none;
}
.sub-menu-1>ul>li:hover, .sub-menu-2>ul>li:hover, .sub-menu-3>ul>li:hover{
    background-color: #316DC3;
    text-decoration: none;
}

.icon, #btn{
    display: none;
    font-size: 30px;
    float: right;
    color: #606060;
}

@media all and (max-width:1000px){
    .icon{
        display: block;
        cursor: pointer;
    }
    .menu ul{
        display: none;
    }
    [id^=btn]:checked +ul{
        display: block;
    }
    .menu>ul{
        margin-top: 50px;
    }
    .active{
        background-color: transparent;
    }
    .sub-menu-1, .sub-menu-2, .sub-menu-3{
        text-align: center !important;
        position: static !important;
        margin: 0em 0em 0em 2em !important;
    }
    li:hover{
        background-color: transparent !important;
    }
    li:hover>a, .active>a{ 
        color: #316DC3 !important;
        font-weight: bold !important;
    }
}


/*slider*/

.container-fluid .carousel-inner .carousel-item img{
    height : 100%;
    width: 100%;
}
                            

/*news*/

.news-line{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 12px;
    background-color: #316DC3;
    color: white;
}
.green{
    color: #00FF00;
}
.blue{
    color: #0000FF;
    cursor: pointer;
}



/*Introduction*/

.intro{
    background-color: ghostwhite;
    padding-top: 30px;
}
.intro .container-fluid .heading {
    color: #316DC3;
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
}
.intro .container-fluid .heading h2 span{
    color: #427900;
}
.intro .container-fluid .intro-para{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1px;
    margin: 0% 12%;
    line-height: 2;
    padding-top: 30px;
    text-align: justify;
    color: #606060;
}


/*blue bar information*/

.blue-bar{
    background-color: blue;
    opacity: 0.8;
}
.blue-bar .container-fluid .col-md-3{
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
    color: #FFFFFF;
    text-align: center;
    margin: 60px auto;
}
.blue-bar .container-fluid img{
    height: 40px;
}
.blue-bar .container-fluid .col-md-3 h1{
    font-size: 50px;
}
.blue-bar .container-fluid .col-md-3 h5 span{
    color: #00FF00;
    font-size: 18px;
}


/*Services*/

.services{
    background-color: ghostwhite;
    padding-top: 30px;
}
.services .container-fluid .heading, .services .container-fluid .row h4 {
    color: #316DC3;
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
}
.services .container-fluid .heading h2 span{
    color: #427900;
}
.services .container-fluid .row{
    margin: 30px 40px;
    text-align: center;
}
.services .container-fluid .row .box{
    padding: 20px 10px 0px 10px;
    margin: 10px auto;
    box-shadow: 0 0 10px rgba(119,119,119,0.3);
    background-color: white;
    position: relative;
    width: 340px;
    height: 180px;
}


/*Upcoming Projects*/

.upcoming{
    padding-top: 50px;
}
.upcoming .container-fluid .projects .heading{
    color: #316DC3;
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-left: 40px;
    padding-bottom: 20px;
}
.upcoming .container-fluid .projects .row{
    padding-bottom: 25px;
    margin-left:20px ;
}
.upcoming .container-fluid .projects .row .box{
    padding-top: 10px;
    padding-left: 20px;
    margin: 0 15px;
    border: rgba(119,119,119,0.1) 1px solid;
    background-color: ghostwhite;
    width: 360px;
    height: 70px;
}
.upcoming .container-fluid .projects .row .box span{
    margin-left: 25px;
    color: #316DC3;
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
    font-size: 15px;
}

/*Upcoming Events*/

.upcoming .container-fluid .events .row marquee{
    font-family: Arial, Helvetica, sans-serif;
    color: #606060;
    font: 80px ;
    width: 250px;
    height: 200px;
}
.upcoming .container-fluid .events .heading{
    color: #316DC3;
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-left: -15px;
}


/*Image Gallery*/

.image-gallery{
    background-color: ghostwhite;
    padding-bottom: 100px;
}
.image-gallery .container-fluid .heading{
    color: #316DC3;
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 50px;
}
.image-gallery .container-fluid h2 span{
    color: #427900;
}
.image-gallery .container-fluid .images .row{
    margin-left: 2px;
}
.image-gallery .container-fluid .images .row img{
    padding-left: 2px;
    width: 255px;
    height: 200px;
}

/*Footer*/

.footer {
    background-color: rgb(37, 39, 46);
    color: rgb(185, 185, 185);
    font-family: Arial, Helvetica, sans-serif;
}
.footer ul{
    list-style: none;
 }
.footer .container-fluid .row{
    padding: 65px 0px;
}
.footer .container-fluid .row .left i{
    color: green;
    padding-right: 10px;
}
.footer .container-fluid .row .left{
    padding-left: 30px;
    padding-top: 25px;
    line-height: 25px;
}
.footer .container-fluid .row .left  p{
    margin-left: 30px;
}
.footer h4{
    color: white;
    font-family: 'Didot', serif;
    font-weight: bold;
} 
.footer .container-fluid .mid{
    padding-top: 0%;
}
.footer .container-fluid .mid h4{
    padding-left: 5px;
    line-height: 0%;
}
.footer .container-fluid .right h4{
    padding-left: 3px;
    padding-bottom: 15px;
    line-height: 0%;
}
.footer .container-fluid .right ul li img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.footer .icons{
    padding-left: 0%;
}
.footer .icons>li {
    display: inline-block;
    padding: 3px;
}  


/*bottom*/

.bottom, .bottom .copyright{
    background-color: rgb(65, 95, 245);
}
.bottom .copyright{
    height: 50px;
    color: #FFFFFF;
    width: 100%;
}
.bottom .copyright p{
    font-family: sans-serif;
    font-size: 12px;
    padding-left: 40px;
    padding-top: 15px;
}

/* Scroll To Top Icon*/

html{
    scroll-behavior: smooth;
}
.scrollToTop{
    font-size: 50px;
    font-family: Courier;
    text-align: center;
}
.scrolltop i{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0,0,0,0.1);
    color: white;
}
.scrolltop i:hover{
    background-color: rgba(0,0,0,0.6);
}
